<h3>Touch and explain</h3>

<div class="col1">
	<div class="touchArea" ng-controller="PlotCtrl">
	  	<div ng-repeat="dot in screenDots" class="dot {{fill(dot)}}" style="left:{{dot[0]}}px;top:{{dot[1]}}px"></div>
	</div>
  <div class="touchArea" ng-controller="PlotCtrl">
		<div ng-repeat="dot in screenDots" class="dot {{fill(dot)}}" style="left:{{dot[0]}}px;top:{{dot[1]}}px" f="x -> 3*x+2" ></div>
	</div>
</div>

<div class="col2">
	<p>
		Lots and lots of text in a big long line that goes on and on and on. 
		Lots and lots of text in a big long line that goes on and on and on.
		Lots and lots of text in a big long line that goes on and on and on.
		Lots and lots of text in a big long line that goes on and on and on.
		Lots and lots of text in a big long line that goes on and on and on.
		Lots and lots of text in a big long line that goes on and on and on.
		Lots and lots of text in a big long line that goes on and on and on.
		Lots and lots of text in a big long line that goes on and on and on.
		Lots and lots of text in a big long line that goes on and on and on.
	</p>
</div>
